name: unittest commands
on: push
jobs:
  qa:
    name: Check tests
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout on master
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@master
        with:
          python-version: "3.12"

      - name: Run tests
        run: |
          python3 -m unittest ./tests/tests_unitaires.py 